.vscode

# ------------------------------------------------------------------------------------------------------------------------------------
# CATALOGACION  ----------------------------------------------------------------------------------------------------------------------
# ------------------------------------------------------------------------------------------------------------------------------------

catalogacion/campicatalogacion.conf
catalogacion/users

#       Catalis ------------------------------------------------------------------------------------
catalogacion/catalis/bases
!catalogacion/catalis/bases/catalis/demo
catalogacion/catalis/logs
catalogacion/catalis/apache
catalogacion/catalis/cgi-bin/wxis
catalogacion/catalis/cgi-bin/opacmarc

# Ignoro la carpeta img de catalis (imagenes subidas) excluyendo imagenes fijas necesarias
catalogacion/catalis/htdocs/catalis/img/*
!catalogacion/catalis/htdocs/catalis/img/1x1.gif
!catalogacion/catalis/htdocs/catalis/img/book-cover-placeholder-upload.jpg
!catalogacion/catalis/htdocs/catalis/img/book-cover-placeholder.jpg
!catalogacion/catalis/htdocs/catalis/img/db-logo.png
!catalogacion/catalis/htdocs/catalis/img/down.gif
!catalogacion/catalis/htdocs/catalis/img/favIcon.ico
!catalogacion/catalis/htdocs/catalis/img/favicon.ico
!catalogacion/catalis/htdocs/catalis/img/inmabb-106x100.png
!catalogacion/catalis/htdocs/catalis/img/inmabb-80x80.png
!catalogacion/catalis/htdocs/catalis/img/left.gif
!catalogacion/catalis/htdocs/catalis/img/notes.png
!catalogacion/catalis/htdocs/catalis/img/right.gif
!catalogacion/catalis/htdocs/catalis/img/stock_edit-16.png
!catalogacion/catalis/htdocs/catalis/img/stick_save-disabled.png
!catalogacion/catalis/htdocs/catalis/img/up.gif

#       Catauto ----------------------------------------------------------------------------------------
catalogacion/catauto/bases
!catalogacion/catauto/bases/catauto/demo
catalogacion/catauto/logs
catalogacion/catauto/apache
catalogacion/catauto/cgi-bin/wxis
catalogacion/catauto/tmp

#       Herramientas ------------------------------------------------------------------------------------
catalogacion/herramientas/downloads
!catalogacion/herramientas/downloads/procesar.php
catalogacion/herramientas/union_registros/logMover.txt
catalogacion/herramientas/union_registros/logerrorMover.txt
catalogacion/herramientas/union_registros/backups

# ------------------------------------------------------------------------------------------------------------------------------------
# HTDOCS  ----------------------------------------------------------------------------------------------------------------------
# ------------------------------------------------------------------------------------------------------------------------------------

# ------------------------------------------------------------------------------------------------------------------------------------
# INTEGRACIONES  ----------------------------------------------------------------------------------------------------------------------
# ------------------------------------------------------------------------------------------------------------------------------------

# ------------------------------------------------------------------------------------------------------------------------------------
# MODULOS  ----------------------------------------------------------------------------------------------------------------------
# ------------------------------------------------------------------------------------------------------------------------------------

# ------------------------------------------------------------------------------------------------------------------------------------
# OMP  ----------------------------------------------------------------------------------------------------------------------
# ------------------------------------------------------------------------------------------------------------------------------------

# ------------------------------------------------------------------------------------------------------------------------------------
# OPACMARC  ----------------------------------------------------------------------------------------------------------------------
# ------------------------------------------------------------------------------------------------------------------------------------